<configuration>
	<appSettings>
		<!--
            The WmsPluginPath is where we will check for plugins.
        -->
		<add key="WmsLayerPluginsPath" value="\..\WmsPlugin\bin\Debug"/>
		<!---->
	</appSettings>
	<system.web>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
        -->
		<customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
		</customErrors>
		<httpHandlers>
			<!-- 
              The httpHandlers section is required for running ASP.NET under Internet
              Information Services 6.0.  It's also necessary for previous version of IIS.
              For more information, see http://msdn.microsoft.com/en-us/library/46c5ddfy%28v=VS.71%29.aspx.
            -->
			<!--Map Suite WMS Server Edition Http Handlers-->
			<add path="WmsHandler.axd" verb="GET" type="ThinkGeo.MapSuite.WmsServerEdition.WmsHandler"/>
			<add path="SecureServerRequestsWmsHandler.axd" verb="GET" type="ThinkGeo.MapSuite.WmsServerEdition.SecureServerRequestsWmsHandler"/>
			<add path="ThrottleUserRequestsWmsHandler.axd" verb="GET" type="ThinkGeo.MapSuite.WmsServerEdition.ThrottleUserRequestsWmsHandler"/>
			<!---->
		</httpHandlers>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<handlers>
			<!-- 
                The system.webServer configuration section in the Web.config file specifies IIS 7.0 settings 
                that are applied to the Web application. It is not necessary for previous version of IIS. 
                For more information, see http://msdn.microsoft.com/en-us/library/bb515251.aspx.
            -->
			<!--Map Suite WMS Server Edition Http Handlers-->
			<add name="WmsHandler" path="WmsHandler.axd" verb="GET" preCondition="integratedMode" type="ThinkGeo.MapSuite.WmsServerEdition.WmsHandler"/>
			<add name="SecureServerRequestsWmsHandler" path="SecureServerRequestsWmsHandler.axd" verb="GET" preCondition="integratedMode" type="ThinkGeo.MapSuite.WmsServerEdition.SecureServerRequestsWmsHandler"/>
			<add name="ThrottleUserRequestsWmsHandler" path="ThrottleUserRequestsWmsHandler.axd" verb="GET" preCondition="integratedMode" type="ThinkGeo.MapSuite.WmsServerEdition.ThrottleUserRequestsWmsHandler"/>
			<!---->
		</handlers>
		<!--
             Specifies the file names that are configured as default documents. 
             For more information, see http://msdn.microsoft.com/en-us/library/ms691243%28v=VS.90%29.aspx.
        -->
		<defaultDocument enabled="true">
			<files>
				<add value="Admin.aspx"/>
			</files>
		</defaultDocument>
		<!---->
	</system.webServer>
</configuration>
